// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
img {
  width: 48px;
}

.container{
  padding-bottom: 40px;
  display: inline;
  padding: 0;
  margin: 0;
  list-style: none;
}

.container li {
  display: block;
}

.container-child col-md-2 col-sm-4 col-xs-6 {
  padding: auto;
  border: auto;
  margin: auto;
}

.email {
  float: right;
}

.btn {
  text-align: center;
}
